@charset "UTF-8";
/* -----------------------------------
リセットCSS
基本的には触らないでください
----------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Shippori+Mincho+B1:wght@500;700&display=swap");
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
img,
p {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  height: 1px;
  background: #f1eded;
  margin: 2em auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  line-height: 1.6em;
}

/* -----------------------------------
ベース設定
----------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333333;
  font-family: YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

section {
  padding: 30px 0;
}

@media (min-width: 1030px) {
  section {
    padding: 60px 0;
  }
}

/* つけるとスマホでしか表示されなくなるクラス */
.only-phone {
  display: inline-block;
}

@media (min-width: 481px) {
  .only-phone {
    display: none;
  }
}

/* つけるとタブレットでしか表示されなくなるクラス */
.only-pad {
  display: none;
}

@media (min-width: 481px) {
  .only-pad {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .only-pad {
    display: none;
  }
}

/* つけるとPCでしか表示されなくなるクラス */
.only-pc {
  display: none;
}

@media (min-width: 768px) {
  .only-pc {
    display: inline-block;
  }
}

/* つけるとPCで見たときだけ表示されなくなるクラス */
.except-pc {
  display: inline-block;
}

@media (min-width: 768px) {
  .except-pc {
    display: none;
  }
}

.max900 {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* -----------------------------------
Flexbox設定
----------------------------------- */
.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center {
  text-align: center;
}

@media (min-width: 768px) {
  .left_center {
    text-align: center;
  }
}

.right {
  text-align: right;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mb60 {
  margin-bottom: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mb70 {
  margin-bottom: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mb80 {
  margin-bottom: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mb90 {
  margin-bottom: 90px;
}

.mt100 {
  margin-top: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt110 {
  margin-top: 110px;
}

.mb110 {
  margin-bottom: 110px;
}

.mt120 {
  margin-top: 120px;
}

.mb120 {
  margin-bottom: 120px;
}

.mt130 {
  margin-top: 130px;
}

.mb130 {
  margin-bottom: 130px;
}

.mt140 {
  margin-top: 140px;
}

.mb140 {
  margin-bottom: 140px;
}

.mt150 {
  margin-top: 150px;
}

.mb150 {
  margin-bottom: 150px;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.col-1 {
  width: calc((100% * 1) / 12);
  padding: 0 15px;
}

.col-lg1,
.col-md1,
.col-sm1,
.col-xl1 {
  width: 100%;
  margin-bottom: 40px;
}

.col-2 {
  width: calc((100% * 2) / 12);
  padding: 0 15px;
}

.col-lg2,
.col-md2,
.col-sm2,
.col-xl2 {
  width: 100%;
  margin-bottom: 40px;
}

.col-3 {
  width: calc((100% * 3) / 12);
  padding: 0 15px;
}

.col-lg3,
.col-md3,
.col-sm3,
.col-xl3 {
  width: 100%;
  margin-bottom: 40px;
}

.col-4 {
  width: calc((100% * 4) / 12);
  padding: 0 15px;
}

.col-lg4,
.col-md4,
.col-sm4,
.col-xl4 {
  width: 100%;
  margin-bottom: 40px;
}

.col-5 {
  width: calc((100% * 5) / 12);
  padding: 0 15px;
}

.col-lg5,
.col-md5,
.col-sm5,
.col-xl5 {
  width: 100%;
  margin-bottom: 40px;
}

.col-6 {
  width: calc((100% * 6) / 12);
  padding: 0 15px;
}

.col-lg6,
.col-md6,
.col-sm6,
.col-xl6 {
  width: 100%;
  margin-bottom: 40px;
}

.col-7 {
  width: calc((100% * 7) / 12);
  padding: 0 15px;
}

.col-lg7,
.col-md7,
.col-sm7,
.col-xl7 {
  width: 100%;
  margin-bottom: 40px;
}

.col-8 {
  width: calc((100% * 8) / 12);
  padding: 0 15px;
}

.col-lg8,
.col-md8,
.col-sm8,
.col-xl8 {
  width: 100%;
  margin-bottom: 40px;
}

.col-9 {
  width: calc((100% * 9) / 12);
  padding: 0 15px;
}

.col-lg9,
.col-md9,
.col-sm9,
.col-xl9 {
  width: 100%;
  margin-bottom: 40px;
}

.col-10 {
  width: calc((100% * 10) / 12);
  padding: 0 15px;
}

.col-lg10,
.col-md10,
.col-sm10,
.col-xl10 {
  width: 100%;
  margin-bottom: 40px;
}

.col-11 {
  width: calc((100% * 11) / 12);
  padding: 0 15px;
}

.col-lg11,
.col-md11,
.col-sm11,
.col-xl11 {
  width: 100%;
  margin-bottom: 40px;
}

.col-12 {
  width: calc((100% * 12) / 12);
  padding: 0 15px;
}

.col-lg12,
.col-md12,
.col-sm12,
.col-xl12 {
  width: 100%;
  margin-bottom: 40px;
}

@media (min-width: 481px) {
  .sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .col-sm1 {
    width: calc((100% * 1) / 12);
    padding: 0 15px;
  }
  .col-sm2 {
    width: calc((100% * 2) / 12);
    padding: 0 15px;
  }
  .col-sm3 {
    width: calc((100% * 3) / 12);
    padding: 0 15px;
  }
  .col-sm4 {
    width: calc((100% * 4) / 12);
    padding: 0 15px;
  }
  .col-sm5 {
    width: calc((100% * 5) / 12);
    padding: 0 15px;
  }
  .col-sm6 {
    width: calc((100% * 6) / 12);
    padding: 0 15px;
  }
  .col-sm7 {
    width: calc((100% * 7) / 12);
    padding: 0 15px;
  }
  .col-sm8 {
    width: calc((100% * 8) / 12);
    padding: 0 15px;
  }
  .col-sm9 {
    width: calc((100% * 9) / 12);
    padding: 0 15px;
  }
  .col-sm10 {
    width: calc((100% * 10) / 12);
    padding: 0 15px;
  }
  .col-sm11 {
    width: calc((100% * 11) / 12);
    padding: 0 15px;
  }
  .col-sm12 {
    width: calc((100% * 12) / 12);
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .col-md1 {
    width: calc((100% * 1) / 12);
    padding: 0 15px;
  }
  .col-md2 {
    width: calc((100% * 2) / 12);
    padding: 0 15px;
  }
  .col-md3 {
    width: calc((100% * 3) / 12);
    padding: 0 15px;
  }
  .col-md4 {
    width: calc((100% * 4) / 12);
    padding: 0 15px;
  }
  .col-md5 {
    width: calc((100% * 5) / 12);
    padding: 0 15px;
  }
  .col-md6 {
    width: calc((100% * 6) / 12);
    padding: 0 15px;
  }
  .col-md7 {
    width: calc((100% * 7) / 12);
    padding: 0 15px;
  }
  .col-md8 {
    width: calc((100% * 8) / 12);
    padding: 0 15px;
  }
  .col-md9 {
    width: calc((100% * 9) / 12);
    padding: 0 15px;
  }
  .col-md10 {
    width: calc((100% * 10) / 12);
    padding: 0 15px;
  }
  .col-md11 {
    width: calc((100% * 11) / 12);
    padding: 0 15px;
  }
  .col-md12 {
    width: calc((100% * 12) / 12);
    padding: 0 15px;
  }
  .col-5-md {
    width: 20%;
    padding: 0;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1029px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1030px) {
  .container {
    width: 960px;
  }
  .col-lg1 {
    width: calc((100% * 1) / 12);
    padding: 0 15px;
  }
  .col-lg2 {
    width: calc((100% * 2) / 12);
    padding: 0 15px;
  }
  .col-lg3 {
    width: calc((100% * 3) / 12);
    padding: 0 15px;
  }
  .col-lg4 {
    width: calc((100% * 4) / 12);
    padding: 0 15px;
  }
  .col-lg5 {
    width: calc((100% * 5) / 12);
    padding: 0 15px;
  }
  .col-lg6 {
    width: calc((100% * 6) / 12);
    padding: 0 15px;
  }
  .col-lg7 {
    width: calc((100% * 7) / 12);
    padding: 0 15px;
  }
  .col-lg8 {
    width: calc((100% * 8) / 12);
    padding: 0 15px;
  }
  .col-lg9 {
    width: calc((100% * 9) / 12);
    padding: 0 15px;
  }
  .col-lg10 {
    width: calc((100% * 10) / 12);
    padding: 0 15px;
  }
  .col-lg11 {
    width: calc((100% * 11) / 12);
    padding: 0 15px;
  }
  .col-lg12 {
    width: calc((100% * 12) / 12);
    padding: 0 15px;
  }
  .col-5-lg {
    width: 20%;
    padding: 0;
    margin-bottom: 15px;
  }
}

@media (min-width: 1240px) {
  .container {
    width: 1100px;
  }
  .col-xl1 {
    width: calc((100% * 1) / 12);
    padding: 0 15px;
  }
  .col-xl2 {
    width: calc((100% * 2) / 12);
    padding: 0 15px;
  }
  .col-xl3 {
    width: calc((100% * 3) / 12);
    padding: 0 15px;
  }
  .col-xl4 {
    width: calc((100% * 4) / 12);
    padding: 0 15px;
  }
  .col-xl5 {
    width: calc((100% * 5) / 12);
    padding: 0 15px;
  }
  .col-xl6 {
    width: calc((100% * 6) / 12);
    padding: 0 15px;
  }
  .col-xl7 {
    width: calc((100% * 7) / 12);
    padding: 0 15px;
  }
  .col-xl8 {
    width: calc((100% * 8) / 12);
    padding: 0 15px;
  }
  .col-xl9 {
    width: calc((100% * 9) / 12);
    padding: 0 15px;
  }
  .col-xl10 {
    width: calc((100% * 10) / 12);
    padding: 0 15px;
  }
  .col-xl11 {
    width: calc((100% * 11) / 12);
    padding: 0 15px;
  }
  .col-xl12 {
    width: calc((100% * 12) / 12);
    padding: 0 15px;
  }
}

/* -----------------------------------
見出し、テキストなど
----------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  line-height: 1.8em;
}

p {
  margin: 0 auto 1em;
  line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.6em auto 1em;
}

h2 {
  font-size: 22px;
  font-family: "Shippori Mincho B1", serif;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

h2 span.orange {
  color: #FF7E00;
}

h3 {
  font-size: 21px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  p.left-center {
    text-align: center;
  }
}

p.s {
  font-size: 14px;
  line-height: 1.8em;
}

p.big {
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}

.text-blue {
  color: #45B5A9;
}

.max700 {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

/* -----------------------------------
リンク関係
----------------------------------- */
a {
  color: #FF7E00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #ffb328;
}

a.btn_list {
  color: #333333;
  background: #ffffff;
  font-size: 12px;
  font-weight: 600;
  border: 1.5px solid #333333;
  display: block;
  padding: 3px 12px;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

a.btn_list img {
  vertical-align: middle;
  width: 14px;
  margin-left: 6px;
}

a.btn_list:hover {
  color: #FF7E00;
}

a.btn-01 {
  display: block;
  background: #FF7E00;
  color: #ffffff;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  min-width: 200px;
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
  position: relative;
}

a.btn-01:after {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  border-right: 2px solid white;
  border-top: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: auto;
  right: 20px;
  top: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  a.btn-01 {
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    font-size: 18px;
    min-width: 250px;
    margin: 60px auto;
  }
}

a.btn-01:hover {
  background: #ffb328;
}

/* -----------------------------------
ヘッダー
----------------------------------- */
header.site-header {
  background: white;
  position: fixed;
  width: 100%;
  height: 53px;
  top: 0;
  right: 0;
  z-index: 20;
  -webkit-box-shadow: 0 2px 10px #00000024;
          box-shadow: 0 2px 10px #00000024;
}

header.site-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  min-width: 90%;
}

@media (min-width: 1030px) {
  header.site-header .container {
    min-width: 0;
    width: 100%;
    max-width: 1260px;
  }
}

header.site-header .site-title {
  margin: 0;
  height: 53px;
}

header.site-header .site-title a {
  display: block;
  padding: 5px 0;
}

header.site-header .site-title img {
  width: 170px;
}

@media (min-width: 1030px) {
  header.site-header {
    height: 60px;
  }
  header.site-header .site-title {
    height: 60px;
  }
  header.site-header .site-title a {
    height: 60px;
  }
}

button#close_mobile_menu {
  display: block;
  width: 100vw;
  height: 50px;
  cursor: pointer;
  text-align: right;
  font-size: 50px;
  background: transparent;
  border: none;
  color: #333333;
  padding: 0 20px 0 0;
}

@media (min-width: 1030px) {
  button#close_mobile_menu {
    display: none;
  }
}

button#open_mobile_menu {
  background: transparent;
  margin: 0;
  cursor: pointer;
  border: 0;
  display: block;
  width: 53px;
  height: 53px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

@media (min-width: 1030px) {
  button#open_mobile_menu {
    display: none;
  }
}

button#open_mobile_menu img {
  pointer-events: none;
  width: 30px;
}

button#open_mobile_menu:hover {
  cursor: pointer;
}

button#open_mobile_menu#inmenu {
  color: #ffffff;
}

button#open_mobile_menu#inmenu-back {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -1;
}

/* -----------------------------------
グローバルナビゲーション
----------------------------------- */
nav {
  color: #333333;
  text-align: left;
}

nav > ul > li > a {
  font-weight: 600;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 30px;
  /*2階層目以降は横並びにしない*/
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #333333;
  padding: 15px 14px;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 14px;
}

nav ul li a:hover {
  color: #FF7E00;
}

nav ul li li a {
  padding: 8px 10px 8px 45px;
  position: relative;
}

nav ul li li a:before {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  border-right: 2.5px solid #FF7E00;
  border-top: 2.5px solid #FF7E00;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: auto;
  top: 0;
  bottom: 0;
  left: 20px;
}

nav ul ul {
  display: block;
}

/*== 2・3階層目の共通設定 */
/*下の階層を持っているulの指定*/
nav li.has-child ul {
  /*絶対配置で位置を指定*/
  position: absolute;
  left: -50px;
  padding: 10px 0;
  margin: 0;
  top: 54px;
  z-index: 4;
  width: 200px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: white;
  border: 3px solid #C3E7E3;
}

nav li.has-child ul:after, nav li.has-child ul:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

nav li.has-child ul:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

nav li.has-child ul:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #C3E7E3;
  border-width: 14px;
  margin-left: -14px;
}

/*hoverしたら表示*/
nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul {
  visibility: visible;
  opacity: 1;
}

/*==768px以下の形状*/
@media screen and (max-width: 1029px) {
  nav {
    padding: 0;
  }
  nav ul {
    display: block;
    margin: 0;
  }
  nav ul li.has-child a {
    padding-bottom: 4px;
  }
  nav ul li.has-child > a {
    font-size: 18px;
    font-family: "Shippori Mincho B1", serif;
    font-weight: bold;
    position: relative;
  }
  nav ul li.has-child > a:after {
    content: "＋";
    display: block;
    position: absolute;
    right: 50px;
    top: 11px;
    font-size: 24px;
    color: #333333;
  }
  nav ul li.has-child.active > a:after {
    content: "－";
  }
  nav li.has-child ul {
    position: relative;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    visibility: visible;
    /*JSで制御するため一旦表示*/
    opacity: 1;
    /*JSで制御するため一旦表示*/
    display: none;
    /*JSのslidetoggleで表示させるため非表示に*/
    -webkit-transition: none;
    transition: none;
    /*JSで制御するためCSSのアニメーションを切る*/
    border: none;
    background: transparent;
  }
  nav li.has-child ul:before, nav li.has-child ul:after {
    display: none;
  }
  nav li.has-child ul li {
    padding-top: 0;
  }
  nav li.has-child ul li a:before, nav li.has-child ul li a:after {
    display: none;
  }
}

/* -----------------------------------
メイン
----------------------------------- */
main {
  margin-top: 53px;
}

@media (min-width: 1030px) {
  main {
    margin-top: 60px;
  }
}

/* -----------------------------------
フッター
----------------------------------- */
footer.site-footer {
  padding: 0;
}

@media (min-width: 768px) {
  footer.site-footer {
    padding: 60px 0 0;
  }
}

footer.site-footer .site-info {
  display: none;
}

footer.site-footer .site-info .flex > div.col-xl2 {
  padding: 0 5px;
}

@media (min-width: 1240px) {
  footer.site-footer .site-info .flex > div.col-xl2 {
    width: calc((100% * 1.6) / 12);
  }
}

footer.site-footer .site-info .flex > div.col-xl3 {
  padding: 0 5px;
}

@media (min-width: 1240px) {
  footer.site-footer .site-info .flex > div.col-xl3 {
    width: calc((100% * 2) / 12);
  }
}

footer.site-footer .site-info .flex > div.col-xl4 {
  padding: 0 15px 0 0;
}

@media (min-width: 1240px) {
  footer.site-footer .site-info .flex > div.col-xl4 {
    width: calc((100% * 3.2) / 12);
  }
}

@media (min-width: 768px) {
  footer.site-footer .site-info {
    display: block;
  }
}

footer.site-footer .site-info div.menu_company {
  margin: 0;
  padding: 0;
}

footer.site-footer .site-info div.menu_company p {
  font-size: 13px;
}

footer.site-footer .site-info div.menu_company p.company_name {
  font-size: 15px;
}

footer.site-footer .site-info h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
}

footer.site-footer .site-info ul.footer-sitemap {
  margin: 0;
  font-size: 14px;
}

footer.site-footer .site-info ul.footer-sitemap li a {
  display: block;
  position: relative;
  color: #333333;
  padding: 3px 0 3px 25px;
  font-size: 13px;
}

footer.site-footer .site-info ul.footer-sitemap li a:hover {
  color: #FF7E00;
}

footer.site-footer .site-info ul.footer-sitemap li a:before {
  content: '';
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-right: 2px solid #0754A5;
  border-top: 2px solid #0754A5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: auto;
  top: 0;
  bottom: 0;
  left: 8px;
}

div#copyright {
  background: #C3E7E3;
  padding: 17px 0;
}

div#copyright p {
  font-size: 13px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  div#copyright p {
    margin: 0 0 0 auto;
  }
}

div#copyright .flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  div#copyright .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

div#copyright ul.menu-footer {
  display: none;
  margin: 0;
  height: 17px;
  font-size: 14px;
  border-left: 1px solid #333333;
}

@media (min-width: 768px) {
  div#copyright ul.menu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

div#copyright ul.menu-footer li {
  border-right: 1px solid #333333;
}

div#copyright ul.menu-footer li a {
  display: block;
  color: #333333;
  height: 17px;
  padding: 2px 15px;
  line-height: 1;
}

div#copyright ul.menu-footer li a:hover {
  opacity: .6;
}

section#top_about .bg_screen {
  width: 100%;
  height: 100%;
  background: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, white), color-stop(42%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, white 30%, rgba(255, 255, 255, 0) 42%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

section#top_about a.banner02 {
  position: relative;
  display: block;
  color: #333333;
  border: 1.5px dashed #84959E;
}

section#top_about a.banner02 img.bgimg {
  display: block;
  margin: 0 0 0 auto;
  z-index: 1;
  opacity: .4;
}

@media (min-width: 768px) {
  section#top_about a.banner02 img.bgimg {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    opacity: 1;
  }
}

section#top_about a.banner02 .text {
  position: absolute;
  z-index: 3;
  top: 10px;
  padding: 5px 15px;
}

section#top_about a.banner02 .text p {
  font-size: 13px;
  line-height: 1.6em;
}

section#top_about a.banner02 .text p.title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  section#top_about a.banner02 .text {
    width: 60%;
    top: 20px;
    padding: 10px 30px;
  }
  section#top_about a.banner02 .text p {
    font-size: 15px;
  }
  section#top_about a.banner02 .text p.title {
    font-size: 20px;
  }
}

section#top_construction {
  background: #EDF8F7;
}

section#top_construction div.container {
  position: relative;
}

section#top_construction div.container > a.btn_list {
  position: absolute;
  top: 6px;
  right: 20px;
}

@media (min-width: 768px) {
  section#top_construction div.container > a.btn_list {
    top: 10px;
  }
}

section#top_construction div.construction_wrap {
  width: 100%;
  position: relative;
}

section#top_construction div.construction_wrap button.arrow {
  width: 40px;
  height: 50px;
  display: block;
  position: absolute;
  visibility: visible;
  pointer-events: all;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: auto;
  top: 0;
  bottom: 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 5;
}

section#top_construction div.construction_wrap button.arrow:hover {
  opacity: .6;
}

section#top_construction div.construction_wrap button.arrow:after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: auto;
  top: 0;
  bottom: 0;
}

section#top_construction div.construction_wrap button.arrow.rightbutton {
  right: 0;
}

section#top_construction div.construction_wrap button.arrow.rightbutton:after {
  right: 10px;
  border-right: 2px solid #333333;
  border-top: 2px solid #333333;
}

section#top_construction div.construction_wrap button.arrow.leftbutton {
  left: 0;
}

section#top_construction div.construction_wrap button.arrow.leftbutton:after {
  left: 10px;
  border-left: 2px solid #333333;
  border-bottom: 2px solid #333333;
}

@media (min-width: 1030px) {
  section#top_construction div.construction_wrap button.arrow {
    visibility: hidden;
    pointer-events: none;
  }
}

section#top_construction div.construction_wrap div.construction_inner {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

section#top_construction div.construction_wrap div.construction_inner::-webkit-scrollbar {
  display: none;
}

section#top_construction div.construction_wrap div.construction_item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 930px;
}

@media (min-width: 1240px) {
  section#top_construction div.construction_wrap div.construction_item_container {
    width: 100%;
  }
}

a.construction_item {
  width: 216px;
  display: block;
  background: white;
  color: #333333;
  overflow: hidden;
}

a.construction_item:not(:last-of-type) {
  margin-right: 20px;
}

a.construction_item:hover .img, a.construction_item:hover .text {
  opacity: .6;
}

a.construction_item div.img {
  height: 150px;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

a.construction_item div.img .new_badge_wrap {
  position: absolute;
  background: #FF7E00;
  z-index: 5;
  width: 70px;
  height: 70px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -35px;
  left: -35px;
}

a.construction_item div.img .new_badge_wrap .new_badge {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  text-align: center;
  bottom: 1px;
}

a.construction_item div.img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

a.construction_item .text {
  padding: 13px;
  -webkit-transition: .3s;
  transition: .3s;
}

a.construction_item .text .title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
  margin-bottom: 5px;
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 1.6em;
}

a.construction_item .text span.construction_name {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}

a.construction_item .text span.construction_category {
  display: inline-block;
  color: #0059B3;
  font-size: 12px;
  border: 1px solid;
  padding: 1px 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 5px;
}

section#contactus {
  background: #EDF8F7;
  padding: 30px 0;
  display: none;
}

@media (min-width: 768px) {
  section#contactus {
    display: block;
  }
}

section#contactus a.btn-01 {
  padding: 0 50px;
  margin: 30px auto;
}

a.content-toppage {
  display: block;
  color: #333333;
}

@media (min-width: 1030px) {
  a.content-toppage {
    padding: 0 18px;
  }
}

a.content-toppage .entry-meta {
  font-weight: 600;
  color: #45B5A9;
  font-size: 14px;
}

a.content-toppage p.entry-title {
  font-size: 15px;
  line-height: 1.6em;
  margin-top: 3px;
}

a.content-toppage:hover {
  opacity: .6;
}

.new_badge_wrap {
  display: inline-block;
}

.new_badge_wrap .new_badge {
  display: inline-block;
  margin-left: 10px;
  color: #FF7E00;
}

section#fuudo {
  background: url("../img/bg01.jpg");
  background-position: top center;
  background-repeat: repeat;
}

section#fuudo p.left-center br {
  display: none;
}

@media (min-width: 481px) {
  section#fuudo p.left-center {
    text-align: center;
  }
  section#fuudo p.left-center br {
    display: inline-block;
  }
}

section#fuudo .season {
  background: white;
  padding: 40px 0 1px;
  max-width: 500px;
  margin: 40px auto;
  position: relative;
}

@media (min-width: 768px) {
  section#fuudo .season {
    max-width: 100%;
  }
  section#fuudo .season a.btn-01 {
    margin-top: 0;
  }
}

@media (min-width: 1030px) {
  section#fuudo .season a.btn-01 {
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: -30px;
  }
}

section#fuudo .season .img {
  text-align: center;
}

section#fuudo .season .img img {
  width: 200px;
}

section#fuudo .season .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

@media (min-width: 768px) {
  section#fuudo .season .title {
    text-align: left;
  }
}

section#fuudo .season .col-lg6 {
  margin-bottom: 0;
}

section#fuudo .season02 {
  max-width: 500px;
  margin: 40px auto;
}

section#fuudo .season02 > div {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}

section#fuudo .season02 .img {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  section#fuudo .season02 {
    max-width: 100%;
  }
}

@media (min-width: 1030px) {
  section#fuudo .season02 {
    margin: 80px auto 0;
  }
}

section#fuudo .season02 img {
  display: block;
  margin: 0 auto 10px;
}

section#fuudo .season02 a.btn-01 {
  min-width: 180px;
  font-size: 15px;
  height: 45px;
  line-height: 45px;
  margin: auto auto 0;
}

section#iedukuri {
  background: #333333;
}

section#iedukuri h2 {
  color: #ffffff;
}

section#iedukuri p {
  color: #ffffff;
}

a.banner {
  display: block;
  background: white;
}

a.banner img {
  vertical-align: middle;
  -webkit-transition: .3s;
  transition: .3s;
}

a.banner:hover img {
  opacity: .6;
}

section#photo {
  background: url(../img/bg02.jpg);
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
}

section#photo h2 {
  color: #ffffff;
}

section#photo p {
  color: #ffffff;
}

.news_wrap {
  border-left: 2px dashed #d3d3d3;
  border-right: 2px dashed #d3d3d3;
  max-width: 500px;
  margin: 40px auto;
}

@media (min-width: 1030px) {
  .news_wrap {
    max-width: 900px;
  }
}

.news_wrap .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_wrap .tabs .tab {
  display: block;
  color: #bbbbbb;
  text-align: center;
  background: transparent;
  border: none;
  font-family: YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  font-weight: bold;
  width: calc(100% / 3);
  cursor: pointer;
  padding: 15px 0;
  font-size: 14px;
}

.news_wrap .tabs .tab:hover {
  color: #FF7E00;
}

.news_wrap .tabs .tab:not(:last-of-type) {
  border-right: 2px dashed #d3d3d3;
}

.news_wrap .tabs .tab.is-active {
  color: #333333;
}

@media (min-width: 768px) {
  .news_wrap .tabs .tab {
    font-size: 15px;
  }
}

@media (min-width: 1030px) {
  .news_wrap .tabs {
    display: none;
  }
}

.news_wrap .content .panel {
  display: none;
  padding: 10px;
}

.news_wrap .content .panel.is-show {
  display: block;
}

.news_wrap .content .panel .panel_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.news_wrap .content .panel .panel_header p.title {
  font-weight: 600;
  margin: 0 auto 0 18px;
  display: none;
}

.news_wrap .content .panel .panel_header p.title img {
  vertical-align: middle;
  width: 30px;
  margin: 0 7px 5px 0;
}

@media (min-width: 1030px) {
  .news_wrap .content .panel .panel_header p.title {
    display: block;
  }
}

.news_wrap .content .panel .panel_header a.btn_list {
  margin: 0 0 10px auto;
}

@media (min-width: 1030px) {
  .news_wrap .content .panel .panel_header a.btn_list {
    margin: auto 10px auto auto;
  }
}

@media (min-width: 1030px) {
  .news_wrap .content .panel {
    display: block;
  }
}

@media (min-width: 1030px) {
  .news_wrap .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news_wrap .content .panel {
    width: calc(100% / 3);
  }
  .news_wrap .content .panel:not(:last-of-type) {
    border-right: 2px dashed #d3d3d3;
  }
}

#top_image {
  background: url("../img/image-top.jpg");
  height: 300px;
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#top_image .text {
  position: absolute;
  top: 50px;
  left: 5%;
}

#top_image .text p {
  line-height: 1.8em;
  font-size: 15px;
}

#top_image .text p.title {
  font-family: "Shippori Mincho B1", serif;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.3em;
}

@media (min-width: 481px) {
  #top_image .text {
    top: 80px;
  }
  #top_image .text p.title {
    font-family: "Shippori Mincho B1", serif;
    font-size: 25px;
    margin-bottom: 0.3em;
  }
}

@media (min-width: 768px) {
  #top_image {
    height: 350px;
  }
  #top_image .text {
    top: 100px;
    left: 10%;
  }
  #top_image .text p.title {
    font-size: 30px;
  }
}

@media (min-width: 1030px) {
  #top_image {
    height: 400px;
  }
}

/*---------------------------------
アコーディオンボックス
--------------------------------*/
.acbox {
  width: auto;
  font-size: 0px;
  /* ラベルと開く部分を分離する時は数値を入れる */
  margin: 0 10px;
  /* ボックス全体の位置調整 */
  max-width: 700px;
  margin: auto;
}

.acbox:nth-of-type(2n-1) {
  background: #EDF8F7;
}

.acbox:nth-of-type(2n) {
  background: #DBF1EE;
}

.acbox label {
  width: auto;
  font-size: 16px;
  /* ラベルの文字サイズ */
  position: relative;
  display: block;
  padding: 18px 50px 18px 50px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 768px) {
  .acbox label {
    padding: 22px 70px 22px 90px;
  }
}

.acbox label:before {
  content: '';
  /* ラベルのアイコン */
  width: 20px;
  height: 20px;
  background: url("../img/icon-q.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  left: 15px;
}

@media (min-width: 768px) {
  .acbox label:before {
    width: 25px;
    height: 25px;
    top: 22px;
    left: 34px;
  }
}

.acbox label:after {
  content: "＋";
  /* ラベルのアイコン */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 22px;
  color: #45B5A9;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -14px;
}

@media (min-width: 768px) {
  .acbox label:after {
    right: 25px;
  }
}

.acbox input {
  display: none;
}

.acbox input:checked ~ label::after {
  content: "－";
  /* ラベルをクリックした後のアイコン */
}

.acbox input:checked ~ div {
  height: auto;
  border-radius: 0px;
  padding: 18px 50px 18px 50px;
  opacity: 1;
  position: relative;
}

.acbox input:checked ~ div:before {
  opacity: 1;
}

@media (min-width: 768px) {
  .acbox input:checked ~ div {
    padding: 22px 70px 22px 90px;
  }
}

.acbox div {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* 開閉スピードの設定 */
}

.acbox .acbox-under {
  font-size: 15px;
  /* 開いた部分の文字サイズ */
  line-height: 1.6em;
  background: white;
}

.acbox .acbox-under p {
  margin: 0;
}

.acbox .acbox-under:before {
  content: '';
  /* ラベルのアイコン */
  width: 20px;
  height: 20px;
  background: url("../img/icon-a.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  left: 15px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 768px) {
  .acbox .acbox-under:before {
    width: 25px;
    height: 25px;
    top: 22px;
    left: 34px;
  }
}

.acbox + .acbox {
  border-top: none;
}

.post_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.post_items .construction_item {
  height: 100%;
  border: 1px solid #ccc;
}

.post_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  margin-bottom: 30px;
  padding: 40px 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.post_item_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  font-size: 12px;
  line-height: 2;
}

.post_item_date {
  color: #45B5A9;
}

.post_item_cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post_item_cat a {
  display: block;
  margin: 0 6px;
  padding: 0 6px;
  border: 1px solid #333333;
  border-radius: 12px;
  color: #333333;
}

.post_item_cat a:hover {
  border-color: #FF7E00;
  color: #FF7E00;
}

.post_item_image {
  margin: 20px 0;
}

.post_item_image img {
  width: 100%;
  aspect-ratio: 4 / 3;
  -o-object-fit: cover;
     object-fit: cover;
}

.post_item_heading {
  margin: 20px 0;
  text-align: left;
  font-size: 21px;
}

@media (min-width: 768px) {
  .post_item_heading {
    font-size: 24px;
  }
}

.post_item_excerpt {
  margin: 10px 0;
  line-height: 1.6;
}

.post_item_excerpt > p:first-child {
  height: 120px;
  text-align: justify;
}

.post_item_more {
  margin: 0;
  text-align: right;
}

.post_item_more a {
  color: #999;
  text-decoration: underline;
}

.post_item_more a:hover {
  color: #FF7E00;
}

/* -----------------------------------
パンくずリスト
----------------------------------- */
#breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  margin: 0;
}

#breadcrumb ul li {
  margin: 0 10px 0 0;
  font-size: 12px;
  font-weight: 500;
}

#breadcrumb ul li img.icon {
  width: 20px;
  margin: 0 8px 0 0;
  vertical-align: baseline;
}

#breadcrumb ul li a {
  display: block;
}

section#charcoal-sec01 {
  background: #F3F4F5;
  padding: 40px 0;
}

@media (min-width: 1030px) {
  section#charcoal-sec01 ul.ul_check li {
    font-size: 17px;
  }
  section#charcoal-sec01 ul.ul_check li:nth-of-type(2n-1) {
    margin-right: 16px;
    width: calc(42% - 8px);
  }
  section#charcoal-sec01 ul.ul_check li:nth-of-type(2n) {
    width: calc(58% - 8px);
  }
}

section#charcoal-sec02 p.big {
  font-size: 18px;
  margin: 10px 0;
}

section#charcoal-sec02 .img {
  position: relative;
  max-width: 300px;
  margin: 0 20px 60px;
}

@media (min-width: 1030px) {
  section#charcoal-sec02 .img {
    margin: 0 20px;
  }
}

section#charcoal-sec02 .img .circle {
  position: absolute;
  z-index: 5;
  border: 1.5px solid #000;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -30px;
  top: -30px;
}

section#charcoal-sec02 .img .circle p {
  line-height: 1.4em;
  font-size: 14px;
  font-weight: bold;
  margin: auto;
}

section#charcoal-sec02 .img.img04 .circle {
  background: #000;
}

section#charcoal-sec02 .img.img04 .circle p {
  color: white;
}

section#charcoal-sec02 p.p {
  font-size: 15px;
  text-align: left;
}

.charcoal-gray {
  background: #F3F4F5;
  padding: 40px 0;
}

.charcoal-gray h3 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 5px;
}

main.company .company_img01 {
  max-width: 250px;
}

@media (min-width: 768px) {
  main.company .company_img01 {
    max-width: 350px;
  }
}

main.company .company_card {
  background: #EDF8F7;
  padding: 20px 10px;
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 1030px) {
  main.company .company_card {
    padding: 30px 15px;
  }
}

main.company .company_card p {
  font-size: 14px;
}

main.company .company_card p.title {
  font-family: "Shippori Mincho B1", serif;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

@media (min-width: 1030px) {
  main.company .company_card p {
    font-size: 15px;
  }
  main.company .company_card p.title {
    font-size: 18px;
  }
}

main.company section.googlemap {
  height: 300px;
  padding: 0;
}

@media (min-width: 1030px) {
  main.company section.googlemap {
    height: 450px;
  }
}

main.company section.googlemap iframe {
  height: 100%;
  width: 100%;
}

/* -----------------------------------
フローボタン
----------------------------------- */
#flow_btn {
  position: fixed;
  background: #ffffff;
  width: 100%;
  max-width: 320px;
  height: 53px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 20;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

#flow_btn.is-scrollEnd {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (min-width: 1240px) {
  #flow_btn.is-scrollEnd {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

#flow_btn.checked {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (min-width: 1030px) {
  #flow_btn.checked {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

@media (min-width: 1030px) {
  #flow_btn {
    max-width: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 1240px) {
  #flow_btn {
    bottom: auto;
    left: auto;
    top: 0;
    height: 60px;
    right: 1.5%;
  }
  #flow_btn .flowbtn_wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#flow_btn .flowbtn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 53px;
}

@media (min-width: 1240px) {
  #flow_btn .flowbtn_wrap {
    height: 60px;
  }
}

#flow_btn .flowbtn_wrap a {
  display: block;
}

#flow_btn .flowbtn_wrap a:hover {
  opacity: .6;
}

#flow_btn .flowbtn_wrap a.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #E6E6E6;
  color: #333333;
  width: 230px;
  padding: 8px 0;
}

@media (min-width: 1240px) {
  #flow_btn .flowbtn_wrap a.tel {
    background: transparent;
    width: 250px;
  }
}

#flow_btn .flowbtn_wrap a.tel div.img {
  margin: 0 10px 0 0;
}

#flow_btn .flowbtn_wrap a.tel div.img img {
  vertical-align: middle;
}

#flow_btn .flowbtn_wrap a.tel p {
  line-height: 1.1;
  margin: 0;
  text-align: center;
}

#flow_btn .flowbtn_wrap a.tel p.small {
  font-size: 10px;
  font-family: "メイリオ", Meiryo, "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
}

#flow_btn .flowbtn_wrap a.tel p.small span {
  display: none;
}

@media (min-width: 1030px) {
  #flow_btn .flowbtn_wrap a.tel p.small span {
    display: inline;
  }
}

#flow_btn .flowbtn_wrap a.tel p.number {
  font-weight: 800;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 22px;
}

@media (min-width: 1030px) {
  #flow_btn .flowbtn_wrap a.tel p.number {
    font-size: 24px;
  }
}

#flow_btn .flowbtn_wrap a.mail {
  width: calc(100% - 230px);
  background: #FF7E00;
  color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px 0;
}

#flow_btn .flowbtn_wrap a.mail img {
  width: 26px;
}

#flow_btn .flowbtn_wrap a.mail span {
  display: block;
  font-size: 10px;
  font-family: "メイリオ", Meiryo, "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
}

@media (min-width: 1030px) {
  #flow_btn .flowbtn_wrap a.mail {
    width: 200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 14px 0;
  }
  #flow_btn .flowbtn_wrap a.mail img {
    vertical-align: middle;
  }
  #flow_btn .flowbtn_wrap a.mail span {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-family: YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  }
}

@media (min-width: 1240px) {
  #flow_btn .flowbtn_wrap a.mail {
    height: 48px;
    padding: 10px 0;
    border-radius: 24px;
    margin: 5px 10px auto auto;
  }
}

main.fuudo section#fuudo {
  padding: 40px 0;
}

main.fuudo section#fuudo .season02 {
  margin: 40px auto 0;
}

main.fuudo p.big {
  font-size: 16px;
}

@media (min-width: 768px) {
  main.fuudo p.big {
    font-size: 18px;
  }
}

main.fuudo div.summer_wrap {
  background: #FFF2E6;
}

/* -----------------------------------
リスト
----------------------------------- */
ul.ul {
  list-style: disc;
}

ul.ul li {
  margin-left: 30px;
  margin-bottom: 10px;
}

ol.ol li {
  margin-left: 30px;
  margin-bottom: 10px;
}

ul.ul_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 450px;
  margin: auto;
}

@media (min-width: 1030px) {
  ul.ul_check {
    max-width: 750px;
  }
}

ul.ul_check li {
  padding-left: 35px;
  position: relative;
  font-weight: bold;
  width: 100%;
  margin-bottom: 8px;
}

ul.ul_check li:before {
  content: '';
  display: block;
  background: url("../img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 28px;
  position: absolute;
  left: 0;
}

/* -----------------------------------
メニュー
----------------------------------- */
#mobile_menu {
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #C9EBE5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 100;
}

#mobile_menu.checked {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

#mobile_menu nav.main-navigation {
  max-width: 500px;
  margin: auto;
}

#mobile_menu div.menu_company {
  max-width: 500px;
  margin: 60px auto;
}

@media (min-width: 1030px) {
  #mobile_menu {
    height: 60px;
    position: relative;
    background: transparent;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    pointer-events: all;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #mobile_menu nav.main-navigation {
    max-width: 100%;
  }
  #mobile_menu .menu_company {
    display: none;
  }
}

div.menu_company {
  max-width: 500px;
  margin: 60px auto 30px;
  padding: 0 15px;
}

div.menu_company img.site_logo {
  width: 150px;
}

div.menu_company p {
  font-size: 14px;
}

div.menu_company p.company_name {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}

div#page_topimg {
  background-color: black;
  height: 200px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div#page_topimg h1 {
  color: #ffffff;
  font-family: "Shippori Mincho B1", serif;
  position: absolute;
  top: 30%;
  margin: auto;
  right: 0;
  left: 0;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 26px;
}

@media (min-width: 768px) {
  div#page_topimg {
    height: 350px;
  }
  div#page_topimg h1 {
    top: 40%;
    font-size: 30px;
  }
}

div#page_topimg.page_default {
  background-image: url("../img/image-top.jpg");
}

div#page_topimg.page_default h1 {
  color: #333333;
}

div#page_topimg.page_news {
  background-image: url("../img/archives/header_news.jpg");
}

div#page_topimg.page_president {
  background-image: url("../img/archives/header_president.jpg");
}

div#page_topimg.page_staff {
  background-image: url("../img/archives/header_staff.jpg");
}

div#page_topimg.page_construction {
  background-image: url("../img/archives/header_construction.jpg");
}

div#page_topimg.page_company {
  background-image: url("../img/company/header.jpg");
}

div#page_topimg.page_fuudo {
  background-image: url("../img/fuudo/header.jpg");
}

div#page_topimg.page_staff {
  background-image: url("../img/staff/header.jpg");
}

div#page_topimg.page_charcoal {
  background-image: url("../img/fuudo/charcoal/header.jpg");
}

div#page_topimg.page_reform {
  background-image: url("../img/reform/header.jpg");
}

div#page_topimg.page_warranty {
  background-image: url("../img/warranty/header.jpg");
}

.reform img.img02 {
  display: none;
}

@media (min-width: 1030px) {
  .reform img.img01 {
    display: none;
  }
  .reform img.img02 {
    display: inline-block;
  }
}

.reform div.comment_wrap {
  background: #FF7E00;
  color: #ffffff;
  padding: 10px;
  position: relative;
}

@media (min-width: 768px) {
  .reform div.comment_wrap {
    display: none;
  }
}

.reform div.comment_wrap:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: #FF7E00;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: -9px;
  z-index: -1;
  -webkit-transform: rotate(45deg) skew(16deg, 16deg);
          transform: rotate(45deg) skew(16deg, 16deg);
}

.reform div.comment_wrap p {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  font-size: 3.4vw;
  text-align: center;
}

.reform .reform_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.reform .reform_buttons .reform_button {
  display: block;
  color: #45B5A9;
  background: white;
  border: 2px solid #45B5A9;
  font-family: "Noto Sans JP", sans-serif;
  width: calc((100% - 30px) / 2);
  margin: 10px auto;
  text-align: left;
  height: calc(6.5vw + 22px);
  font-size: 4vw;
  border-radius: 6.5vw;
  padding: 10px 15px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.reform .reform_buttons .reform_button:after {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  border-right: 2px solid #45B5A9;
  border-top: 2px solid #45B5A9;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 17px;
  -webkit-transition: .3s;
  transition: .3s;
}

.reform .reform_buttons .reform_button span {
  display: inline-block;
  width: 6.5vw;
  height: 6.5vw;
  background: #45B5A9;
  color: #ffffff;
  border-radius: 6.5vw;
  line-height: 6.5vw;
  text-align: center;
  margin-right: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 481px) {
  .reform .reform_buttons .reform_button {
    font-size: 18px;
    height: calc(32px + 22px);
    border-radius: 32px;
  }
  .reform .reform_buttons .reform_button span {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    line-height: 32px;
  }
}

@media (min-width: 768px) {
  .reform .reform_buttons .reform_button {
    width: calc((100% - 40px) / 3);
    font-size: 17px;
    text-align: center;
  }
}

@media (min-width: 1030px) {
  .reform .reform_buttons .reform_button {
    width: calc((100% - 70px) / 4);
  }
}

.reform .reform_buttons .reform_button:hover, .reform .reform_buttons .reform_button.is-active {
  background: #45B5A9;
  color: #ffffff;
}

.reform .reform_buttons .reform_button:hover:after, .reform .reform_buttons .reform_button.is-active:after {
  border-right-color: #ffffff;
  border-top-color: #ffffff;
}

.reform .reform_buttons .reform_button:hover span, .reform .reform_buttons .reform_button.is-active span {
  background: white;
  color: #45B5A9;
}

#reform_content {
  position: relative;
  padding: 0;
}

@media (min-width: 768px) {
  #reform_content {
    padding-bottom: 60px;
  }
}

#reform_content .reform_content_wrap {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#reform_content .reform_content_wrap.is-show {
  position: relative;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

#reform_content .title {
  background: #45B5A9;
}

@media (min-width: 768px) {
  #reform_content .title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}

#reform_content .title p {
  color: #ffffff;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

#reform_content .title p span {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #ffffff;
  color: #45B5A9;
  border-radius: 36px;
  line-height: 36px;
  text-align: center;
  margin-right: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

#reform_content .content {
  background: #E1F3F1;
  padding: 30px 0 0;
}

@media (min-width: 768px) {
  #reform_content .content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}

#reform_content .content h3 {
  margin: 0 auto 5px;
  max-width: 500px;
}

#reform_content .content ul.ul_check {
  max-width: 500px;
}

#reform_content .content .advice {
  text-align: center;
}

@media (min-width: 481px) {
  #reform_content .content .advice {
    text-align: right;
  }
}

#reform_content .content .whitecomment {
  background: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
  padding: 19px 33px;
  border-radius: 70px/50px;
  margin: auto;
  position: relative;
  z-index: 2;
}

#reform_content .content .whitecomment:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: #ffffff;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top: -9px;
  z-index: -1;
  -webkit-transform: rotate(45deg) skew(16deg, 16deg);
          transform: rotate(45deg) skew(16deg, 16deg);
}

@media (min-width: 481px) {
  #reform_content .content .whitecomment:before {
    top: auto;
    bottom: 30%;
    right: auto;
    left: -6px;
    -webkit-transform: rotate(126deg) skew(16deg, 16deg);
            transform: rotate(126deg) skew(16deg, 16deg);
  }
}

#reform_content .content .whitecomment p {
  margin: 0;
  font-size: 15px;
  line-height: 1.8em;
}

#reform_content .content .whitecomment_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box_blue {
  border: 2px solid #45B5A9;
  background: #ffffff;
  margin: 10px auto 30px;
  padding: 10px;
  font-size: 15px;
  max-width: 500px;
}

.box_blue p {
  color: #45B5A9;
  line-height: 1.8em;
  margin: 0;
}

.box_white {
  background: white;
  padding: 15px;
  max-width: 500px;
  margin: auto;
}

.box_white ul {
  counter-reset: number;
  list-style-type: none !important;
  margin-top: 20px;
}

.box_white ul li {
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  padding-left: 5px;
}

.box_white ul li:before {
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*以下数字のデザイン変える*/
  display: inline-block;
  background: #ffffff;
  color: #333333;
  border: 2px solid #333333;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  left: -42px;
  width: 35px;
  height: 35px;
  line-height: 31px;
  text-align: center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

main.staff .staff_card {
  max-width: 400px;
  margin: auto;
  height: 100%;
}

@media (min-width: 1030px) {
  main.staff .staff_card {
    max-width: 100%;
  }
}

main.staff .staff_wrap {
  background: #EDF8F7;
  padding: 30px 15px 15px;
  height: 100%;
}

main.staff .staff_wrap .img {
  text-align: center;
}

main.staff .staff_wrap .img img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 150px;
}

@media (min-width: 1030px) {
  main.staff .staff_wrap .img img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
}

main.staff .staff_wrap .text {
  max-width: 250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1030px) {
  main.staff .staff_wrap .text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main.staff .staff_wrap .text p {
    margin-left: 0;
    margin-right: auto;
  }
}

main.staff .staff_wrap .text p {
  line-height: 1.6em;
}

main.staff .staff_wrap .text p.position {
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 5px;
  color: #45B5A9;
}

main.staff .staff_wrap .text p.name {
  font-weight: 900;
  font-size: 17px;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

main.staff .staff_wrap .text p.license {
  font-size: 13px;
}

main.staff .staff_wrap p.h4 {
  position: relative;
  z-index: 3;
  margin-bottom: 5px;
}

main.staff .staff_wrap p.h4:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1.5px dashed #ccc;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

main.staff .staff_wrap p.h4 span {
  background: #EDF8F7;
  font-weight: bold;
  color: #45B5A9;
  position: relative;
  z-index: 2;
  font-size: 18px;
  padding-right: 6px;
}

main.staff .staff_wrap p.p {
  font-size: 15px;
  line-height: 1.8em;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #C2C2C2;
  border-bottom: 1px solid #C2C2C2;
}

table tr:not(:first-of-type) {
  border-top: 1px solid #C2C2C2;
}

table th, table td {
  padding: 11px 15px;
  font-size: 15px;
  line-height: 1.8em;
}

table th {
  text-align: left;
}

@media (min-width: 768px) {
  table th {
    padding: 12px 10px 12px 20px;
  }
  table td {
    padding: 12px 20px;
  }
}

.warranty h3 {
  color: #34327F;
  font-size: 18px;
  line-height: 1.6em;
  margin: 0 auto 10px;
}

.warranty a.btn-01 {
  background: #34327F;
  padding: 0 40px;
  font-size: 15px;
  margin: 20px auto;
}

.warranty a.btn-01:hover {
  background: #5855af;
}

.warranty .has-circle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.warranty .has-circle .circle {
  position: absolute;
  background: #34327F;
  width: 100px;
  height: 100px;
  bottom: -20px;
  left: -20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warranty .has-circle .circle p {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3em;
  text-align: center;
  margin: 0 auto;
}

section.bg_purple {
  background: #E8E7F0;
  padding: 40px 0;
}
