/* -----------------------------------
リスト
----------------------------------- */

ul.ul {
  list-style: disc;
  li {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}

ol.ol {
  li {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}


ul.ul_check {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  margin: auto;

  @include mq(lg) {
      max-width: 750px;
  }
  
  li {
      padding-left: 35px;
      position: relative;
      font-weight: bold;
      width: 100%;
      margin-bottom: 8px;

      &:before {
          content: '';
          display: block;
          background: url('../img/check.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 26px;
          height: 28px;
          position: absolute;
          left: 0;
      }
  }
}