div#page_topimg {
    background-color: black;
    height: 200px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        color: $white;
        font-family: $font-design;
        position: absolute;
        top: 30%;
        margin: auto;
        right: 0;
        left: 0;
        text-align: center;
        letter-spacing: 0.1em;
        font-size: 26px;
    }

    @include mq(md) {
        height: 350px;

        h1 {
            top: 40%;
            font-size: 30px;
        }
    }
    
    &.page_default {
        background-image: url('../img/image-top.jpg');

        h1 {
            color: $black;
        }
    }

    &.page_news {
        background-image: url('../img/archives/header_news.jpg');
    }

    &.page_president {
        background-image: url('../img/archives/header_president.jpg');
    }

    &.page_staff {
        background-image: url('../img/archives/header_staff.jpg');
    }

    &.page_construction {
        background-image: url('../img/archives/header_construction.jpg');
    }

    &.page_company {
        background-image: url('../img/company/header.jpg');
    }

    &.page_fuudo {
        background-image: url('../img/fuudo/header.jpg');
    }

    &.page_staff {
        background-image: url('../img/staff/header.jpg');
    }

    &.page_charcoal {
        background-image: url('../img/fuudo/charcoal/header.jpg');
    }

    &.page_eco {
        background-image: url('../img/fuudo/eco/header.jpg');
    }

    &.page_wood {
        background-image: url('../img/fuudo/wood/header.jpg');
    }

    &.page_reform {
        background-image: url('../img/reform/header.jpg');
    }

    &.page_warranty {
        background-image: url('../img/warranty/header.jpg');
    }
}