.qa {
    .acbox {
        label {
            padding: 32px 50px 32px 70px;
            &:before {
                top: 14px;
                width: 35px;
                height: 63px;
            }

            @include mq(md) {
                padding: 40px 60px 40px 100px;

                &:before {
                    width: 45px;
                    height: 80px;
                }
            }
        }
        &:nth-of-type(4n-3) {
            label:before {
                background-image: url('../img/qa/q01.png');
            }
        }

        &:nth-of-type(4n-2) {
            label:before {
                background-image: url('../img/qa/q02.png');
            }
        }

        &:nth-of-type(4n-1) {
            label:before {
                background-image: url('../img/qa/q03.png');
            }
        }

        &:nth-of-type(4n) {
            label:before {
                background-image: url('../img/qa/q04.png');
            }
        }

        input ~ div {
            min-height: 0px;
        }

        input:checked ~ div {
            padding-left: 20px;
            padding-right: 80px;
            min-height: 90px;

            @include mq(md) {
                padding-left: 100px;
                padding-right: 100px;
                min-height: 110px;
            }
        }

        .acbox-under:before {
            background-image: url('../img/qa/a01.png');
            top: 14px;
            left: auto;
            right: 20px;
            width: 50px;
            height: 63px;

            @include mq(md) {
                width: 71px;
                height: 82px;
            }
        }

    }
}