table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
    tr {
      &:not(:first-of-type) {
        border-top: 1px solid #C2C2C2;
      }

      @media (max-width: 500px)  {
        display: flex;
        flex-direction: column;
      }
    }
  
    th, td {
      padding: 11px 15px;
      font-size: 15px;
      line-height: 1.8em;
    }
    th {
        text-align: left;
        @media (max-width: 500px)  {
          padding: 11px 0;
          font-size: 14px;
        }
    }
    td {
      @media (max-width: 500px)  {
        padding: 0 0 11px;
        font-size: 13px;
      }
    }
    @include mq(md) {
        th {
            padding: 12px 10px 12px 20px;
        }
        td {
            padding: 12px 20px;
        }
    }
  
  }
  