section#iedukuri {
    background: $text-color;
    
    h2 {
        color: $white;
    }

    p {
        color: $white;
    }

}
a.banner {
    display: block;
    background: white;
    img {
        vertical-align: middle;
        transition: .3s;
    }

    &:hover {
        img {
            opacity: .6;
        }
    }
}

section#photo {
    background-image: url(../img/bg02-sp.jpg);
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    
    @include mq(md) {
        background-image: url(../img/bg02.jpg);
    }
    
    h2 {
        color: $white;
    }

    p {
        color: $white;
    }
}